@use 'sass:math';

$text-tiny: 9pt;
$text-base: 10pt;
$text-medium: 12pt;
$text-large: 14pt;
$text-huge: 52pt;

$border-width: 2pt;

* {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

h1, h2, h3, h4, p { margin: 0; }
h2, h3, h4 {
    font-weight: 500;
}
h4 {
    font-weight: 400;
}

h2 {
    margin-bottom: 24pt;
    font-size: 16pt;
    font-weight: 600;
}

h1 {
    font-size: 20pt;
}

.sub-h1 {
    font-size: $text-large;
}

a {
    text-decoration: none;
    color: black;
}

i, svg {
    align: center;
    width: 1.5em;
    margin-right: 0.5em;
}

li::marker {
    margin-right: 5px !important;
}

$default-line-height: 13pt;

$guides: white;

.resume-page-1,
.resume-page-2,
.resume-page-3 {
    width: 612pt;
    height: 792pt;
    padding: 72pt;
    box-sizing: border-box;
    border-width: $border-width;
    border-style: solid;
    border-width: 2px;
    border-color: $guides;
    position: relative;

    &:before {
        content: "";
        z-index: -1;
        top: 72pt;
        bottom: 72pt;
        left: 72pt;
        right: 72pt;
        position: absolute;
        border-style: solid;
        border-width: 0;
        border-bottom-width: $border-width;
        border-color: black;
    }

    &:after {
        content: "";
        z-index: -2;
        position: absolute;
        top: 72pt;
        bottom: 72pt;
        left: 72pt;
        right: 72pt;
        border-style: solid;
        border-style: solid;
        border-width: 2px;
        border-color: $guides;

    }
}

.subtitle {
    font-size: $text-medium;
    line-height: 19pt;
    padding-left: 10pt;
    margin-bottom: 6pt;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

@mixin aside {
    border-style: solid;
    border-width: $border-width;
    border-color: black;
    font-size: $text-base;
    line-height: $default-line-height;
    box-sizing: border-box;
    padding: 36pt 24pt 18pt;
    min-width: 210pt;
    max-width: 210pt;
}

@mixin with-aside {
    display: flex;
    flex-direction: row;
}
//------------------------------------------------------------------------------
#header {
    position: relative;

    #profile-photo {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
        z-index: -1;
    }
}
#title {
    h1 {
        line-height: 30pt;
        font-weight: 500;
    }
    .sub-h1 {
        margin-bottom: 12pt;
    }
}

#contact {
    padding-bottom: 16pt;
    margin-bottom: 32pt;
    border-width: 0;
    border-bottom-width: 2pt;
    border-style: solid;
    border-color: black;

    h4 {
        margin-bottom: 4pt;
    }

    .contact-section {
        display: inline-block;
        font-size: $text-medium;
        vertical-align: top;
        margin-right: 24pt;

        ul {
            list-style: none;
        }
        i, svg {
            margin-left: 4pt;
        }
    }
}

#intro {
    @include with-aside;
    margin-bottom: 22pt;

    p {
        padding-bottom: 18pt;
    }
}

#at-glance {
    flex-grow: 1;
    #hero {
        margin-left: 12pt;
        margin-top: 0;
        padding-bottom: 8pt;
        span {
            font-size: 52pt;
            line-height: 52pt;
            float: left;
            padding-left: 12pt;
            padding-right: 12pt;
        }
        p {
            padding: 0;
        }
        p:not(:last-child) {
            font-size: $text-large;
            line-height: 14pt;
            padding-top: 6pt;
        }
        p:last-child {
            font-size: $text-medium;
            line-height: 16pt;
        }
    }
    h2 {
        margin-bottom: 8pt;
    }
    h3 {
        font-size: $text-medium;
        line-height: 19pt;
        padding-left: 52pt;
        margin-bottom: 6pt;
        margin-top: 14pt;
    }
    ul {
        font-size: $text-medium;
        line-height: 14pt;
        padding-left: 56pt;
    }
}

#hello {
    @include aside;
}

//------------------------------------------------------------------------------
#skills {
    .skills-table {
        display:grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    h2 {
        margin-bottom: 10pt;
    }
    ul {
        font-size: $text-base;
        line-height: $default-line-height;
        padding-left: 22pt;
        margin-bottom: 0pt;
    }
    li {
        display: inline-block;
    }
    li:not(:last-child)::after {
        content: ', ';
    }
    li:last-child::after {
        content: '.';
    }
}

.job-title {
    font-size: $text-large;
    line-height: $default-line-height;
    padding-left: 10pt;
    padding-bottom: 6pt;
}

.job-role {
    font-size: $text-base;
    line-height: $default-line-height;
    padding-left: 10pt;
    padding-bottom: 3pt;
}

.job-text {
    font-size: $text-base;
    line-height: $default-line-height;
    padding-left: 22pt;
}

.job-subtitle {
    font-size: $text-base;
    line-height: $default-line-height + 2pt;
    font-weight: 400;
    padding-left: 5pt;
    padding-top: 1pt;
    padding-bottom: 3pt;
}

.job-subtext {
    font-size: $text-base;
    line-height: $default-line-height;
}

.job-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 24pt;

    h3, h4 {
        display: inline-block;
    }
    h4 {
        padding-left: 6pt;
    }
}

.job-main {
    flex-grow: 1;
}

.job-aside {
    flex-grow: 0;
    min-width: 90pt;
    max-width: 90pt;
    margin-left: 32pt;
}

#education {
    h3 {
        font-size: $text-large;
        line-height: $default-line-height;
        margin: 0;
        padding-left: 22pt;
        display: inline-block;
    }
    p {
        font-size: $text-base;
        line-height: $default-line-height;
        margin: 0;
        padding-left: 58pt;
        padding-bottom: 18pt;
    }
    ul {
        margin-bottom: 18pt;
    }
}

#projects {
    @include with-aside;

    h3 {
        font-size: $text-large;
        line-height: $default-line-height;
        padding-left: 0;
        margin-top: 24pt;
        margin-bottom: 18pt;
    }

    li {
        list-style-type: none;
        h4 {
            line-height: $default-line-height;
            //padding-left: 22pt;
            padding-left: 0;
            margin-bottom: 4pt;
        }
        p {
            font-size: $text-base;
            line-height: $default-line-height;
            //padding-left: 22pt;
            padding-left: 0;
            margin-bottom: 18pt;
        }
    }

    .projects-list {
        h3 {
            margin-top: 32pt;
        }
        h3:first-child {
            margin-top: 0;
        }
    }

    .projects-aside {
        @include aside;
        padding-top: 48pt;
        margin-right: 18pt;
        p {
            margin: 0;
        }
        >p {
            margin-bottom: 18pt;
        }
    }

    .projects-cta {
        padding-top: 32pt;
        padding-bottom: 18pt;
        text-align: center;
    }
}

//------------------------------------------------------------------------------
.page-n {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40pt;
    margin: auto;
    text-align: center;
    display: inline-block;
}
