<!Doctype html>
<html lang="en">
  <head>
    <title>Maxime Dupuis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Metadata -->
    <meta name="description" content="Montréal based web developer" data-localize-content>
    <meta name="keywords" content="programming, development, developer, web, website, maxdup">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="resume-page-1">
      <div id="header">
        <h1>Maxime Dupuis</h1>
        <div class="sub-h1">Full-stack Web Developer</div>
      </div>

      <div id="contact">
        <div class="contact-section">
          <h4>Contact me</h4>
          <ul>
            <li><i class="fa fa-location-dot"></i>Montréal, Canada</li>
            <li><a href="mailto:mdupuis@hotmail.ca" target="_blank"><i class="fa fa-envelope"></i>mdupuis@hotmail.ca</a></li>
            <li><a href="tel:+1514-546-0054"><i class="fa fa-phone"></i>(514) 546-0054</a></li>
            <li><i class="fa fa-language"></i>French, English</li>
          </ul>
        </div>
        <div class="contact-section">
          <h4>Find me online</h4>
          <ul>
            <li><a href="https://maxdup.dev"><i class="fa fa-globe"></i>maxdup.dev</a></li>
            <li><a href="https://github.com/maxdup"><i class="fa fa-brands fa-github"></i>github.com/maxdup</a></li>
            <li><a href="https://www.linkedin.com/in/maxdup/"><i class="fa fa-brands fa-linkedin"></i>linkedin.com/in/maxdup</a></li>
          </ul>
        </div>
      </div>

      <div id="intro">
        <div id="at-glance">
          <h2>At a Glance</h2>
          <div id="hero">
            <span>10</span>
            <p>Years of experience</p>
            <p>working as a developer</p>
          </div>
          <h3>Occupying roles such as</h3>
          <ul>
            <li>Full-stack developer</li>
            <li>Frontend developer</li>
            <li>Mobile developer</li>
            <li>Game developer</li>
          </ul>
          <h3>With companies such as</h3>
          <ul>
            <li>3dverse</li>
            <li>Valve Corporation</li>
            <li>Soulzone inc.</li>
          </ul>
        </div>
        <div id="hello">
          <p>Hi, I’m Maxime, <br/>a Montréal-based web developer.</p>
          <p>I tend to be product-oriented.<br/>To me, the end-user experience is the only measure of success.</p>
          <p>That being said... there’s always more to it than meets the eye. That’s why I like to go deep into every facets of what makes software tick, whether it be in the frontend or backend.</p>
        </div>
      </div>

      <h2>Technical Skills</h2>
      <div id="skills">
        <div class="skills-panel">
          <h3 class="subtitle">Programming Languages</h3>
          <ul>
            <li>TypeScript</li>
            <li>JavaScript</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>SCSS</li>
            <li>WebGL</li>
            <li>Java</li>
            <li>Python</li>
            <li>C#</li>
            <li>PHP</li>
          </ul>
        </div>
        <div class="skills-panel">
          <h3 class="subtitle">Backend Frameworks and Technologies</h3>
          <ul>
            <li>NodeJS</li>
            <li>Spring Boot</li>
            <li>Flask</li>
            <li>Django</li>
            <li>.net</li>
            <li>Elixir</li>
            <li>SQL</li>
            <li>MongoDB</li>
            <li>RabbitMQ</li>
          </ul>
        </div>
        <div class="skills-panel">
          <h3 class="subtitle">UI Frameworks and Technologies</h3>
          <ul>
            <li>React</li>
            <li>Angular</li>
            <li>VueJs</li>
            <li>AngularJs</li>
            <li>Ionic</li>
            <li>Wordpress</li>
            <li>WPF</li>
          </ul>
        </div>
        <div class="skills-panel">
          <h3 class="subtitle">Infrastructure and Tools</h3>
          <ul>
            <li>Webpack</li>
            <li>Git</li>
            <li>Jira</li>
            <li>Sphinx</li>
            <li>NodeJs</li>
            <li>Docker</li>
            <li>Nginx</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="resume-page-2">
      <h2>Professional Experiences</h2>
      <div class="job-item">
        <div class="job-main">
          <h3 class="job-title">3dverse</h3>
          <h4 class="job-role">Fullstack developer <span class="job-year">(2024 to Present)</span></h4>
          <div class="job-text">I contributed to the enhancement of the platform’s developer console,
            pushing forward cutting edge 3D technologies for the web. I led the
            development of a powerful graph editor to drive 3d engine capabilities.
            Led the development of a government-funded innovation project, over-
            seeing its successful execution of the key features.</div>
        </div>
        <div class="job-aside">
          <div class="job-subtitle">Key technologies</div>
          <ul class="job-subtext">
            <li>NodeJS</li>
            <li>React</li>
            <li>Redux</li>
            <li>OpenAPI</li>
            <li>ThreeJS</li>
          </ul>
        </div>
      </div>

      <div class="job-item">
        <div class="job-main">
          <h3 class="job-title">Valve Corporation</h3>
          <h4 class="job-role">Game Developer <span class="job-year">(2015, 2022 and 2024)</span></h4>
          <div class="job-text">As a freelance Level Designer, I had the honor of being contracted by Valve on three occasions to contribute to their content updates for the critically acclaimed game Team Fortress 2. I conceptualized, designed, and delivered original and groundbreaking game levels. My responsibilities encompassed conceptualisation, 3D art, environmental design, game balance, scripting and optimization for each project.</div>
        </div>
        <div class="job-aside">
          <div class="job-subtitle">Key technologies</div>
          <ul class="job-subtext">
            <li>Source Engine</li>
            <li>Hammer Editor</li>
            <li>VScript</li>
            <li>3ds Max</li>
          </ul>
        </div>
      </div>

      <div class="job-item">
        <div class="job-main">
          <h3 class="job-title">Soulzone</h3>
          <h4 class="job-role">Frontend developer <span class="job-year">(2016 to 2023)</span></h4>
          <div class="job-text">I led the comprehensive frontend development of an innovative multimedia platform, prioritizing the creation of immersive and captivating user experiences. I’ve contributed to the platform’s distinctiveness and heightened visual presentation by meticulously implementing fully custom UI components as well as a completely custom CSS style, ensuring a unified and refined appearance across all aspects of the platform.</div>
        </div>
        <div class="job-aside">
          <div class="job-subtitle">Key technologies</div>
          <ul class="job-subtext">
            <li>Vue</li>
            <li>Webpack</li>
            <li>Elixir</li>
            <li>PostgreSQL</li>
            <li>FFmpeg</li>
          </ul>
        </div>
      </div>

      <div class="job-item">
        <div class="job-main">
          <h3 class="job-title">Agora</h3>
          <h4 class="job-role">Tech co-founder/full-stack/mobile developer <span class="job-year">(2016 to 2017)</span></h4>
          <div class="job-text">Being a Tech co-founder, I’ve had to architect a scalable backend system that effectively manages data flow, user authentication, and API integrations to support seamless functionality across all platforms. Additionally, I’ve had to engineer hybrid mobile applications that synchronized with the backend, ensuring consistent user experiences and optimal performance.</div>
        </div>
        <div class="job-aside">
          <div class="job-subtitle">Key technologies</div>
          <ul class="job-subtext">
            <li>iOS / Android</li>
            <li>Angular</li>
            <li>Ionic / Cordova</li>
            <li>Python</li>
            <li>Flask</li>
            <li>MongoDB</li>
          </ul>
        </div>
      </div>

      <div class="job-item">
        <div class="job-main">
          <h3 class="job-title">Tenscores</h3>
          <h4 class="job-role">Full-stack developer <span class="job-year">(2014)</span></h4>
          <div class="job-text">During my brief tenure at Tenscores, I played a key role in enhancing the user experience for account management. Additionally, I undertook significant backend improvements that resulted in a remarkable 500-fold reduction in API usage. This, in turn, substantially lowered operational expenses associated with critical platform features.
          </div>
        </div>
        <div class="job-aside">
          <div class="job-subtitle">Key technologies</div>
          <ul class="job-subtext">
            <li>AngularJS</li>
            <li>CoffeeScript</li>
            <li>Python</li>
            <li>Pyramid</li>
            <li>Adwords API</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="resume-page-3">
      <h2>Education</h2>
      <div id="education">
        <ul>
          <li>
            <h3>Software Engineering - École de technologie supérieure</h3>
            <p>Postponed 2014 - 2015</p>
          </li>
          <li>
            <h3>Management Computing - Collège Montmorency</h3>
            <p>Graduated 2014</p>
          </li>
        </ul>
      </div>
      <h2>Projects</h2>
      <div id="projects">
        <div class="projects-aside">
          <p>
            As a passionate web developer and game developer, I have been actively involved in the open-source community, with a particular focus on the Python ecosystem.
          </p>
          <p>
            I have created multiple libraries and tools which I actively develop and maintain.
          </p>
          <p>
            My commitment to code quality is reflected in my projects through rigorous testing, continuous integration, and comprehensive documentation.
          </p>

          <div class="projects-cta">
            <p>Come see my Github profile!</p>
            <a href="https://github.com/maxdup"><i class="fa fa-brands fa-github"></i>github.com/maxdup</a>
          </div>
        </div>

        <div class="projects-list">
          <h3>Web Development</h3>
          <ul>
            <li>
              <h4>Flask-favicon</h4>
              <p>A Python Flask extension that generates and serves favicon assets for diverse platforms.</p>
            </li>
            <li>
              <h4>Flask-cache-manifest</h4>
              <p>A Python Flask extension for serving hashed assets via cache-busting manifests.</p>
            </li>
          </ul>
          <h3>Game Development</h3>
          <ul>
            <li>
              <h4>pySourceSDK</h4>
              <p>A collection of Python libraries designed to handle various game asset file types.</p>
            </li>
            <li>
              <h4>The Orange Toolbox</h4>
              <p>A set of debugging and automation tools tailored for the Source engine.</p>
            </li>
            <li>
              <h4>CompilePal</h4>
              <p>Build tools and bundler designed for Source engine level creation.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
